@{
    ViewBag.Title = "About";
}
<br />
<h2 style="color:#17a2b8!important;">@ViewBag.Title Us</h2>
<br />
<style>
    .flex-cotainer {
        display: flex;
        flex-direction: row;
    }

    .card {
        margin: 5px;
    }
</style>
<div class="flex-cotainer">
    <div class="card" style="width: 18rem;">
        <img src="~/Images/h2.jpg" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title text-info">Hala Abdelmaksoud</h5>
            <p class="card-text">Faculty of Engineering at Shoubra - Benha University </p>
            <p class="card-text">Bachelor's degree - Surveying and Geomatics Engineering</p>
            <a href="https://www.linkedin.com/in/hala-abdelmaksoud-9381a4192/" target="_blank" class="btn btn-info">Linkedin</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="~/Images/a.png" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title text-info">Asmaa Essam</h5>
            <p class="card-text">Faculty of Engineering at Shoubra - Benha University </p>
            <p class="card-text">Bachelor's degree - Surveying and Geomatics Engineering</p>
            <a href="https://www.linkedin.com/in/asmaa-essam-968708139/" target="_blank" class="btn btn-info">Linkedin</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="~/Images/r.png" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title text-info">Rehab Mohamed</h5>
            <p class="card-text">Faculty of Engineering at Shoubra - Benha University </p>
            <p class="card-text">Bachelor's degree - Surveying and Geomatics Engineering</p>
            <a href="https://www.linkedin.com/in/rehab-mohamed-0a16a3199/" target="_blank" class="btn btn-info">Linkedin</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="~/Images/Taha.jpg" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title text-info">Ahmed Taha</h5>
            <p class="card-text">Faculty of Engineering at Shoubra - Benha University </p>
            <p class="card-text">Bachelor's degree - Surveying and Geomatics Engineering</p>
            <a href="https://www.linkedin.com/in/ahmed-taha-aa3b28116/" target="_blank" class="btn btn-info">Linkedin</a>
        </div>
    </div>

</div>