@{
    ViewBag.Title = "Contact";
}
<br />
<h2 style="color:#17a2b8!important;">@ViewBag.Title Us</h2>


<style>
    .flex-cotainer {
        display: flex;
        flex-direction: row;
    }

    .card {
        margin: 5px;
    }

    .card_img {
        margin-top: 5px;
        border-radius: 50%;
    }
</style>
<div class="flex-cotainer">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title text-info">Asmaa Essam</h5>
            <address>
                <abbr title="Phone">Phone:</abbr> 01002666163
            </address>
            <address>
                <strong>Mail to:</strong>
                <a href="mailto:Asmaaessam163@gmail.com" style="color:black;">Asmaaessam163@gmail.com</a><br />
            </address>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-body">

            <h5 class="card-title text-info">Hala Abdel-Maksoud</h5>
            <address>
                <abbr title="Phone">Phone:</abbr> 01116604645
            </address>
            <address>
                <strong>Mail to:</strong>
                <a href="mailto:Hala.abdelmaksoud711@gmail.com" style="color:black;">Hala.abdelmaksoud711@gmail.com</a><br />
            </address>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-body">

            <h5 class="card-title text-info">Rehab Mohamed</h5>
            <address>
                <abbr title="Phone">Phone:</abbr> 01063194212
            </address>
            <address>
                <strong>Mail to:</strong>
                <a href="mailto:Reehaab78@gmail.com" style="color:black;">Reehaab78@gmail.com</a><br />
            </address>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-body">

            <h5 class="card-title text-info">Ahmed Taha</h5>
            <address>
                <abbr title="Phone"> Phone :</abbr> 01156082526
            </address>
            <address>
                <strong>Mail to:</strong>
                <a href="mailto:Hala.abdelmaksoud711@gmail.com" style="color:black;">AhmedTaha@gmail.com</a><br />
            </address>
        </div>
    </div>
</div>