
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Sellers", "sellers", null, new { @class = "btn btn-primary" })


@Html.ActionLink("Products", "products", null, new { @class = "btn btn-primary" })


